name: PR Review

on:
  pull_request:
    branches: [$default-branch, develop]
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: [$default-branch, develop]
  workflow_dispatch:

env:
  NODE_VERSION: "22"

permissions:
  contents: read # check out code
  pull-requests: write
  issues: write # comment on issues

jobs:
  check:
    name: PR Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint Check
        run: pnpm run lint

      - name: Format Check
        run: pnpm run fmt

      - name: Run tests
        run: pnpm run test

      - name: Build project
        run: pnpm run build

      - name: Check PR validation
        run: pnpm run pr
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
